body {
    margin: 0;
}
.navigation {
    display: block;
    width: 100%;
    height: 88px;
    background: #FFFFFF;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.5);
}

.globe-icon {
    font-size: xxx-large;
    margin-top: 14px;
    margin-left: 144px;
    margin-right: 350px;
}

a:hover {
    color: aqua;
    text-decoration: none;
}

a {
    color: #444444;
    text-decoration: none;
}

.navigation__link--red {
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 1.2;
    text-align: center;
    color: #444444;
    margin-right: 53px;
    margin-left: 350px;
}

.navigation__link--blue {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 1.2;
    text-align: center;
    color: #444444;
    margin-right: 53px;
}

.navigation__link--yellow {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 1.2;
    text-align: center;
    color: #444444;
    margin-right: 53px;
}

.navigation__link--green {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 1.2;
    text-align: center;
    color: #444444;
}

main {
    width: 100%;
    height: 575px;
    background-color: darkgrey;
}

.hero {
    display: block;
    width: 466px;
    height: 244px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero__content {
    width: 466px;
    height: 244px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    left: 467px;
    margin-top: 91px;
} 

.heart-icon {
    font-size: xxx-large;
}

.hero__text--h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 1.1;
    text-align: center;
    color: #FFFFFF;
    
}

.hero__text--heart {
    
    font-size: 2em;
    color: #FFFFFF;
    margin: 0px;

}

.hero__text--text {
    width: 466px;
    height: 78px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.1;
    text-align: center;
    color: #F8F8F8;
}
    
.hero__button {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.2;
    text-align: center;
    color: #F8F8F8;
    background-color: #878787;
    border-radius: 20px;
    width: 186px;
    height: 39px;
    border: 0px;
   
    position: relative;
    left: 133px;
}

.hero__button:hover {
    color: #F8F8F8;
    text-decoration: none;
}

.flexbox__container {
    width: 100%;
    height: 575px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
}

.card {
    width: 224px;
    height: 248px;
    background-color: #ffffff;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 20px;
    margin-bottom: 120px;
}

.card__icon {
    font-size: 4em;
}

.card__title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.2;
    text-align: center;
    color: #000000
}

.card__text {
    width: 170px;
    height: 74px;
   
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.4;
    text-align: center;
    color: #000000
}

.footer {
    width: 100%;
    height: 257px;
    background: #F8F8F8;
}




